@charset "UTF-8";
.t-col-1,
.t-col-2,
.t-col-3,
.t-col-4,
.t-col-5,
.t-col-6,
.t-col-7,
.t-col-8,
.t-col-9,
.t-col-10,
.t-col-11,
.t-col-12,
.t-col-13,
.t-col-14,
.t-col-15,
.t-col-16,
.t-col-17,
.t-col-18,
.t-col-19,
.t-col-20,
.t-col-21,
.t-col-22,
.t-col-23,
.t-col-24 {
  float: left;
  box-sizing: border-box;
}

.t-col-0 {
  width: 0;
}

@for $i from 0 to 24 {
  .t-col-$i {
    width: calc(1 / 24 * $(i) * 100)%;
  }
  .t-col-offset-$i {
    margin-left: calc(1 / 24 * $(i) * 100)%;
  }
  .t-col-pull-$i {
    position: relative;
    right: calc(1 / 24 * $(i) * 100)%;
  }
  .t-col-push-$i {
    position: relative;
    left: calc(1 / 24 * $(i) * 100)%;
  }
}

@media (max-width: 768px) {
  @for $i from 0 to 24 {
    .t-col-xs-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-xs-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-xs-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-xs-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}

@media (min-width: 768px) {
  @for $i from 0 to 24 {
    .t-col-sm-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-sm-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-sm-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-sm-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}

@media (min-width: 992px) {
  @for $i from 0 to 24 {
    .t-col-md-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-md-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-md-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-md-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 0 to 24 {
    .t-col-lg-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-lg-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-lg-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .t-col-lg-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}