.t-switch {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  height: 22px;
  margin: 4px auto;
  vertical-align: middle;
}

.t-switch__label,
.t-switch__label * {
  position: absolute;
  font-size: 14px;
  display: inline-block;
  z-index: 1;
}

.t-switch .labb-fade-enter,
.t-switch .labb-fade-leave-active {
  opacity: 0;
}

.t-switch.is-disabled .t-switch__core {
  border-color: #ccc !important;
  background: #f5f5f5 !important;
}

.t-switch.is-disabled .t-switch__core span {
  background-color: #ccc !important;
}

.t-switch.is-disabled .t-switch__core~.t-switch__label * {
  color: #ccc !important;
}

.t-switch.is-checked .t-switch__core {
  border-color: #00a53c;
  background-color: #00a53c;
}

.t-switch.is-disabled .t-switch__core,
.t-switch.is-disabled .t-switch__label {
  cursor: not-allowed;
}

.t-switch__core,
.t-switch__label {
  width: 40px;
  height: 22px;
  cursor: pointer;
}

.t-switch__label {
  transition: 0.2s;
  left: 0;
  top: 0;
}

.t-switch__label * {
  line-height: 1;
  top: 4px;
  color: #fff;
}

.t-switch__labb--left i {
  left: 5px;
}

.t-switch__labb--right i {
  right: 5px;
}

.t-switch__input {
  display: none;
}

.t-switch__core {
  margin: 0;
  display: inline-block;
  position: relative;
  border: 1px solid rgb(191, 217, 203);
  outline: 0;
  border-radius: 12px;
  box-sizing: border-box;
  background: rgb(191, 217, 203);
  transition: border-color 0.3s, background-color 0.3s;
}

.t-switch__core .t-switch__button {
  top: 2px;
  left: 2px;
  position: absolute;
  border-radius: 100%;
  transition: transform 0.3s;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

.t-switch .t-switch__label.t-switch__labb--left span {
  left: 5px;
}

.t-switch .t-switch__label.t-switch__labb--right span {
  right: 5px;
}